<div class="container">
    <div class="jumbotron">
        <h2>Bienvenue sur le nouveau monde !</h2>
        <p style="font-size: 14px;">
            Choisissez parmi les <a href="http://forum.lautrenouveaumonde.org/index.php?/topic/22189-races-dragostiniennes/" onclick="window.open(this.href);
                                return false;">quatorze races</a> peuplant Dragostina.
            Bâtissez votre royaume, prospérez par la guerre ou le commerce et affrontez d'autres seigneurs seul ou au sein d'une alliance. Il vous faudra faire usage autant de vos armées que de votre diplomatie pour asseoir votre règne et vous imposer comme l'un des plus grands de ce monde.
        </p>
        <p style="font-size: 14px;">
            Narrez vos exploits dans la <a href="http://forum.lautrenouveaumonde.org/index.php?/forum/17-la-grande-bibliotheque-dakisroc/" onclick="window.open(this.href);
                                return false;">grande bibliothèque d'Akisroc</a> et inscrivez-vous dans la légende.
            Intervenez en <a href="http://forum.lautrenouveaumonde.org/index.php?/forum/18-la-place-frozell/" onclick="window.open(this.href);
                                return false;">place des annonces</a> pour faire entendre votre volonté.
        </p>
        <p style="font-size: 14px;">
            Répandre l'innocence de la paix ou le sang de la guerre, c'est désormais à vous de jouer.
        </p>
        <div class="row text-center">
            <div class="col-md-6">
                <a href="#/irapide"><img src="images/accueil/ileft.png" onmouseover="this.src = 'images/accueil/ileftON.png'" onmouseout="this.src = 'images/accueil/ileft.png'"/></a>
                <br/><i>L'inscription rapide est conseillée pour les joueurs débutants.</i>
            </div>
            <div class="col-md-6">
                <a href="#/istandard"><img src="images/accueil/iright.png" onmouseover="this.src = 'images/accueil/irightON.png'" onmouseout="this.src = 'images/accueil/iright.png'"/></a>
                <br/><i>L'inscription complete est conseillée pour les joueurs avancés.</i>
            </div>
        </div>
    </div>
</div>