<h1>Batiments</h1>
<p>
	<div class="btn-group">
		<button type="button" class="btn btn-primary" ng-click="production()">Production</button>
		<button type="button" class="btn btn-primary" ng-click="militaire()">Militaire</button>
		<button type="button" class="btn btn-primary" ng-click="espionnage()">Espionnage</button>
	</div>
</p>
<div class="well well-sm">
	<p>
		<span class="glyphicon glyphicon-info-sign"></span> Pour construire, saisissez le nombre de bâtiments à construire dans chaque onglet et cliquez sur construire.
	</p>
	<p>
		<strong>Coût total : </strong>
		<img src="images/icons/food.svg" class="responsive img-res img-icone"> <span ng-class="alertFood">{{costs.food}}</span>
		<img src="images/icons/metal.svg" class="responsive img-res img-icone"> <span ng-class="alertIron">{{costs.iron}}</span>
		<img src="images/icons/wood.svg" class="responsive img-res img-icone"> <span ng-class="alertWood">{{costs.wood}}</span>
		<img src="images/icons/stone.svg" class="responsive img-res img-icone"> <span ng-class="alertStone">{{costs.stone}}</span>
		<img src="images/icons/gold.svg" class="responsive img-res img-icone"> <span ng-class="alertGold">{{costs.gold}}</span>
		<img src="images/icons/field.svg" class="responsive img-res img-icone"> <span ng-class="alertSpace">{{costs.space}}</span>
		<img src="images/icons/backup.svg" class="responsive img-res img-icone"> <span ng-class="alertPeon">{{costs.peon}}</span>
	</p>
	<p style="text-align: center;">
		<button type="button" class="btn btn-default" ng-click="construire()">Construire</button>
	</p>
</div>
<p style="text-align: center;">
	<a href ng-click="collapseAll(false)">Tout afficher</a>&nbsp;&nbsp;
	<a href ng-click="collapseAll(true)">Tout cacher</a>
</p>
<div class="container buildings">
	<div class="row">
		<div class="col-md-6" ng-repeat="bat in batiments | filter: {type: type}">
			<div style="margin-bottom: 15px;" class="panel panel-default" ng-form="batsForm">
				<div class="panel-heading box-header-build">
					<div style="width: 100%; position: relative;">
						<div style="display: inline-block;" ng-click="collapsed[$index] = !collapsed[$index]">
							<b>Nom du batiment ({{bat.qt || 0}})</b>
						</div>
						<div class="pull-right" style="display: inline-block;">
							<span ng-show="batsForm['bat'].$error.pattern" class="label label-danger">Cette valeur est invalide.</span>
							<img class="responsive img-res img-icone img-circle" src="images/icons/flat-hammer.svg" title="construire">
							<input type="text" ng-model="constructions[bat._id]" ng-pattern="/^[0-9]{1,7}$/" name="bat" size="4" ng-keyup="computeCosts()">
							<a href class="glyphicon glyphicon-arrow-up" ng-click="max($index)"></a>
						</div>
					</div>
				</div>
				<div class="panel-body" collapse="collapsed[$index]">
					<div>
						{{bat.description}}
					</div>
					<div class="div-bat hidden-xs"><img src="images/bats/{{bat.image}}" class="responsive"></div>
					<div class="div-bat">
						<div>
							<img src="images/fr.png" class="responsive img-top img-icone">{{bat.fr}}
						</div>
						<div>
							<img src="images/bs.png" class="responsive img-top img-icone">{{bat.bs}}
						</div>
						<div>
							<img src="images/pr.png" class="responsive img-top img-icone">{{bat.pr}}
						</div>
						<div>
							<img src="images/au.png" class="responsive img-top img-icone">{{bat.or}}
						</div>
						<div>
							<img src="images/ha.png" class="responsive img-top img-icone">{{bat.ha}}
						</div>
					</div>
					<div class="div-bat">
						<div>
							<img src="images/icons/hourglass.svg" class="responsive img-res img-icone">{{bat.tr}}
						</div>
					</div>
					<div class="div-bat">
						<div>
							<img src="images/icons/backup.svg" class="responsive img-res img-icone">{{bat.peon}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
