[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
	padding-top: 50px;
	/*background: #333333 url(../images/fond.jpg) no-repeat center 50px*/;
}
.container.top {
	width: 100%;
}
.container.lnm {
	width: 95%;
}
.menu {
	background-color: white;
	min-height: 100%;
}
.elements {
	margin: 0;
	padding: 0;
	list-style: none;
}
.elements > li {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
}
.header-branding {
	margin-left: 15px;
}
.docs-navbar-primary {
	border-radius: 0!important;
	margin-bottom: 0!important;
}
.main-body-grid {
	margin-top: 70px;
	position: relative;
}
/*.sup-header {
	padding-top: 10px;
	padding-bottom: 5px;
	background: rgba(216,208,161,0.88);
	box-shadow: 0 0 2px #999;
}
.main-body-grid > .grid-left {
	width: 120px;
}
.main-body-grid > .grid-left {
	position: fixed;
}
.main-header-grid > .grid-right, .main-body-grid > .grid-right {
	margin-left: 120px;
	position: relative;
}*/
.img-top {
	width: 30px;
	height: 13px;
	border: solid black 1px;
}
.img-icone {
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}
.img-res {
	width: 22px;
	height: 22px;

}
.row-top {
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.dragnews {
    color: black;
    font-size: 8px;
}
.popover-title {
	color: rgb(51, 51, 51);
}
.popover-content {
	color: rgb(51, 51, 51);
}
.white {
	background-color: white;
}
.grey {
	background-color: silver;
}
.div-bat {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.box-header-build input {
	text-align: right;
}
.text-alert {
	color: red;
}
/*.panel-body {
	background-color: #403939;
	color: #F2F2F2
}
.panel-default>.panel-heading {
	background-color: #4A2929;
	color: #F2F2F2;
}
.well-sm {
	background-color: #8AA693;
}*/
.buildings {
	font-size: 0.8em;
	width: 100%;
}